h1{
color: red;	
}

h2 {
color: blue;	
}

li {
color: green;
}

-----------------------------------
tr {
color: green;
}


th {
color: yellow;	
}


td{
color: orange;	
}

-------------------------------------
.family{
	
}

.cabin{
	
}

.inventory{
	
}